body{
  background: linear-gradient(135deg, #71e6cd, #56dbaf);
}
.register{

   background: linear-gradient(135deg, #71e6cd, #59b67d);
   
}
.register:hover{
  background: linear-gradient(135deg, #086853, #45cec2);

  }
.acon{
  padding: 30px;
}
.maincontainer{
  margin-top: 68px;
}
.input:hover{
  border: 2px solid rgb(104, 181, 243);
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}

